body {
  background-color:rgb(87, 117, 141);
  color: rgb(29, 29, 29);
}

.hidden {
  display:none;
}

#error-message {
  font-weight: 600;
  color: rgb(255, 94, 94);
  background: rgb(34, 34, 34);
  border-radius: 10px;;
  Padding: 5px;
}

#top {
  padding: 10px;
  background-color:rgb(224, 222, 224)
}
#subhead {
  font-size:x-large;
}

#warning {
  font-size: large;
  font-style: bold;
  color: rgb(243, 243, 243);
}

#formbox {
  margin: auto;
  width: 80vw;
  color: black;
  padding: 10px;
  border-radius: 200px;
}

#quiz {
  padding: 45px;
  font-size: large;
  background-color:rgb(206, 206, 206)
}

#submit {
  background-color: rgb(34, 34, 34);
  color:rgb(224, 222, 224);
  border-radius: 10px;;
}

.program-pages {
  color: rgb(228, 226, 226);
  width: 90vw;
  margin: auto;
}

.logo {
  float: left;
  width: 15vw;
  margin: 40px;
  padding: 20px;
  background-color:rgb(87, 117, 141)
}

.body2 {
  background-color:rgb(87, 117, 141)
}