body {
  background-color: rgb(241, 241, 241);
  color: rgb(29, 29, 29);
}

.hidden {
  display:none;
}

#error-message {
  font-weight: 600;
  color: red;
}

#top {
  padding: 10px;
}
#subhead {
  font-size:x-large;
}

#warning {
  font-size: large;
  font-style: bold;
  color: rgb(243, 243, 243);
}

#formbox {
  margin: auto;
  width: 80vw;
  color: black;
  padding: 10px;
  border-radius: 25px;;
}

#quiz {
  padding: 45px;
  font-size: large;
  background-color:rgb(172, 172, 172)
}

#submit {
  background-color: black;
  color:rgb(224, 222, 224);
}

.program-pages {
  color: rgb(228, 226, 226);
  width: 90vw;
  margin: auto;
}

.logo {
  float: left;
  width: 15vw;
  margin: 40px;
  padding: 20px;
}

.body2 {
  background-color:rgb(87, 117, 141)
}